.example-card {
  margin-top: 15px;
}

.image {
  height: 500px;
  width: auto;
  display:block;
  margin: 0 auto
}

.parent {
  overflow: hidden;
}

.center-text {
  text-align: center;
}

.content {
  margin-top: 15px;
}
