<div *ngFor="let book of books">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title>{{book.Name}}</md-card-title>
      <md-card-subtitle>{{book.Author}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image *ngIf="book.PictureURL" [src]="book.PictureURL">
    <md-card-content>
      <div>Price: {{book.Price}}$</div>
      <div>Rating: {{book.Rating}}</div>
    </md-card-content>
    <md-card-actions>
      <button md-button>VIEW</button>
    </md-card-actions>
  </md-card>
</div>
