<app-loader></app-loader>

<!--Search Functionality-->
<!--<md-toolbar>-->
  <!--<form class="example-form">-->
    <!--<md-form-field class="example-full-width">-->
      <!--<input mdInput placeholder="Find Book" aria-label="Book" [mdAutocomplete]="auto" [formControl]="bookCtrl">-->
      <!--<md-autocomplete #auto="mdAutocomplete">-->
        <!--<md-option *ngFor="let book of filteredBooks | async" [value]="book.name">-->
          <!--<img style="vertical-align:middle;" aria-hidden src="{{book.PictureURL}}" height="25" />-->
          <!--<span>{{ book.Name }}</span> |-->
          <!--<small>Author: {{book.Author}}</small>-->
        <!--</md-option>-->
      <!--</md-autocomplete>-->
    <!--</md-form-field>-->
  <!--</form>-->
<!--</md-toolbar>-->
<div class="list" fxLayoutAlign="space-between" fxLayoutWrap="wrap">
  <div *ngFor="let book of books" fxFlex.xs="100" fxFlex.sm="49" fxFlex="32.5">
    <md-card class="example-card">
      <div class="center-text">
        <md-card-title mdTooltip="{{book.Name}}" mdTooltipPosition="above" class="ellipsis-title">{{book.Name}}</md-card-title>
        <md-card-subtitle>{{book.Author}}</md-card-subtitle>
      </div>
      <div class="parent">
        <img class="image" *ngIf="book.PictureURL" [src]="book.PictureURL">
        <img class="image" *ngIf="!book.PictureURL"
             src="../../../assets/no-image-available.jpg">
      </div>
      <div class="content">
        <div fxFlex="50" class="center-text">
          <div>PRICE: {{book.Price}}$</div>
          <div>RATING: {{book.Rating}}</div>
        </div>
        <div fxFlex="50">
          <button md-button [routerLink]="['/books', book.Id]">VIEW DETAILS</button>
        </div>
      </div>
    </md-card>
  </div>
</div>
