@media (max-width: 640px) {
  .example-form {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 640px) {
  .example-form {
    width: 30%;
    margin: 0 auto;
  }
}

.example-full-width {
  width: 100%;
}

h1 {
  margin-top: 60px;
  font-family: 'Roboto';
  text-align: center;
  color: #262626;
}
