<div fxLayout="row" id="outer">
  <div>
    <md-card>
      <img *ngIf="book.PictureURL" [src]="book.PictureURL" alt="{{book.Name}}">
    </md-card>
  </div>
</div>


<!--<div fxLayout="row" id="outer">-->
<!--<div fxLayoutAlign="center">-->
<!--<md-card fxFlex="30" fxFlex.sm="50" fxFlex.xs="100">-->
<!--<md-card-header>-->
<!--<md-card-title>{{book.Name}}</md-card-title>-->
<!--<md-card-subtitle>{{book.Author}}</md-card-subtitle>-->
<!--</md-card-header>-->
<!--<img id="image" *ngIf="book.PictureURL" [src]="book.PictureURL">-->
<!--<md-card-content>-->
<!--<p>-->
<!--{{book.Description}}-->
<!--</p>-->
<!--</md-card-content>-->
<!--<md-card-actions>-->
<!--<button md-button>EDIT</button>-->
<!--</md-card-actions>-->
<!--</md-card>-->
<!--</div>-->
<!--</div>-->
